body{
    height: 100%;
    margin: auto;
    background-color:  rgb(56, 56, 56);
}


.botaologin {
    background-color:  #999999 ;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:  Calibri,'Gill Sans', 'Trebuchet MS', sans-serif;
  }

#cadastrese{
    text-decoration: none;
    font-family: Calibri,'Gill Sans', 'Trebuchet MS', sans-serif;
    color: black;
}
#esqueceusuasenha{

    font-family: Calibri,'Gill Sans', 'Trebuchet MS', sans-serif;
    color:black;
    font-size: 12px;
    margin:auto
}
#lembrar{
    font-size: 12px;
    font-family: Calibri,'Gill Sans', 'Trebuchet MS', sans-serif;
    color:black;
}
.formLogin{
    width: 50%;
    margin: 0;
    padding-left: 40%;
    padding-top: 5%
    
}
.formLogin label{
    text-align: left;
    font-size: large;
    margin-left: 32px;
    display: inline-block;
    width: 100px;
    font-family: 'Muli', sans-serif;    
}

.formLogin input {
    align-items: center;
    background-color: rgb(223, 223, 223);
    margin-bottom: 10px;
}