body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    display: inline;
}
th{
    background-color: rgb(184, 134, 230);
    padding: 5px;
}
tr:nth-child(even) {background-color: #c6bbd3;}
tr:nth-child(odd) {background-color: #ffffff;}
